.loginPage{
    background-image: url('../../public/Images/BgEmployee.png');
    background: linear-gradient(rgba(11,11,11,0.7), rgba(10,10,10,0.7)), url('../../public/Images/BgEmployee.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}
.link:hover {
    background-color: white;
    color: black;
    border-radius: 50px;
}
.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
